body {
    background-image: url(../assets/ImagensGerais/MapaMirage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: Arial;
}



.ContainerCentralizacao {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 99vh;
}

.voltar{
    display: block;
}



.blocoMarrom {
    display: flex;
    padding-bottom: 1.5%;
    width: 50%;
    height: 80vh;
    background-color: #303030de;
    backdrop-filter: blur(3px);
    border: 2px solid #AE8406;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
}

#parteCima {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    margin-left: 10%;
}

.IPparteEsquerda {
    display: flex;
    flex-direction: column;
    margin-left: 2.5%;
    margin-top: 3%;
    width: 100%;
    height: 16vh;
}

.gerenciarTexto {
    display: flex;
    color: white;
    font-size: 25px;
    font-weight: 800;
}

#logo {
    display: flex;
    width: 20%;
    height: 10vh;
}

.infopessoaisBloco {
    display: flex;
    background-color: rgba(255, 255, 255, 0.61);
    height: 65%;
    width: 80%;
    border: 1px solid #BD8500;
    border-radius: 10px;
    justify-content: center ;
}

#IPtexto {
    color: black;
    font-weight: 650;
    font-size: 2.5vmax;
    white-space: nowrap;
    width: 60%;
    align-items: center;
}

#IPtextoAviso {

    display: flex;
    color: black;
    margin-top: 1%;
    height: auto;
    font-style: normal;
    width: 80%;
    text-align: left;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    align-items: center;

}

 .formulario input {
    display: flex;
    margin-bottom: 1%;
    margin-top: 1%;
    outline: 0;
    border-radius: 10px;
    background-color: rgba(185, 150, 102, 0.87);
    border: 1px solid #BD8500;
    width: 98%;
}


.IconvoltarDiv {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

#i_email {
    display: flex;
    color: black;
    width: 90%;
    font-size: 0.7vmax;
    padding-left: 2%;
    height: 3.5vh;
    background-color: rgba(185, 150, 102, 0.87);
    border: 1px solid #BD8500;
    border-radius: 6px;
}

#i_email:focus {
    background-color: white;
    color: black;
    outline: 0;
}

.buttom {
display: flex;
justify-content: center;
}


#btn_salvar {
    display: flex;
    margin-top: 5%;
    background: #c78a51;
    width: 50%;
    height: 40px;
    border: none;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    color: black;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
}

#btn_salvar:hover {
    display: flex;
    margin-top: 5%; 
    background: #BD8500;
    border: none;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    color: black;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
}

#iconvoltar {
    color: white;
    font-size: 50px;
    transform: rotate(90deg);
    cursor: pointer;
}
#iconvoltar:hover {
    color: #c78a51;
}

#cardErro #mensagem_erro{
    display: flex;
    justify-content: center;
    color: red;
    font-size: 20px;
  }

  .loading-div {
    width: 50px;
    display: none;
  }
  
  .loading-div img {
    height: 50px;
    width: 50px;
  }

  #GoToCadastro a {
    margin-top: 2%;
    text-decoration: none;
    color: #c78a51;
    }