body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  overflow-x: hidden;
}

.header {
  display: flex;
  width: 100%;
  height: 10vh;
  align-items: center;
  justify-content: center;
  background-color: #242424;
}

.header #iconmenuperfil {
  display: flex;
  cursor: pointer;
}

/* .Logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 10%; 
  height: 70%;
  margin-right: 65%;
} */

.navbar a {
  text-decoration: none;
  color: #B9B9B9;
}

.navbar li {
  display: inline-flex;
  list-style: none;
  margin-left: 1.5%;
}

.navbar {
  display: flex;
  height: 100%;
  width: 80%;
  color: #B9B9B9;
  align-items: center;
  text-align: center;

}

/* EFEITO NA NAVBAR */

#falehover:hover {
  font-weight: bold;
  color: #C36B1A;
  font-size: 17px;
}

#sobrehover:hover {
  font-weight: bold;
  font-size: 17px;
}

#ajudahover:hover {
  font-weight: bold;
  font-size: 17px;
}

#homehover:hover {
  font-weight: bold;
  font-size: 17px;
}

/* FINAL EFEITO */

#textonavbar {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
}

/* CONTEÚDO */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120vh;
  background-color: #414141;
}

.Informacoes {
  
  display: flex;
  width: 95%;
  height: 95%;
  background-color: #B9B9B9;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
}

.card{
  display: flex;
  justify-content: center;
  width: 20%;
  height: 80%;
  border-radius: 10px;
  flex-direction: column;
  background-color: rgb(218, 218, 218);
}

.Localidade {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: bold;
  font-size: 40px;
}

.card span{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-weight: bold;
  font-size: 20px;
  height: 30px;
  background-color: #C36B1A;
}

.plotInformacoes{
  color: #C36B1A;
}

.cards  {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%;
  justify-content: space-around;
}

.graficoGrande {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 94.8%;
  height: 70%;
  background-color: rgb(218, 218, 218);
  margin-bottom: 1.75%;
  border-radius: 10px;

}

.GraficoDentro {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
}





/* FIM CONTEÚDO */

/* FOOTER */

.footer {
  display: flex;
  width: 100%;
  height: 10vh;
  background-color: #242424;

  align-items: center;
  justify-content: center;
}

.containerFooter {
  display: flex;
}

#DireitosReservados {
  display: flex;
  color: #B9B9B9;

  align-items: center;
  justify-content: center;
}