body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    overflow-x: hidden;
}

.header {
    display: flex;
    width: 100%;
    height: 10vh;
    align-items: center;
    justify-content: center;
    background-color: #242424;
}

.header #iconmenuperfil {
    display: flex;
    cursor: pointer;
}

/* .Logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 10%; 
    height: 70%;
    margin-right: 65%;
} */

.navbar a {
    text-decoration: none;
    color: #B9B9B9;
}

.navbar li {
    display: inline-flex;
    list-style: none;
    margin-left: 1.5%;
}

.navbar {
    display: flex;
    height: 100%;
    width: 80%;
    color: #B9B9B9;
    align-items: center;
    text-align: center;

}

#homehover a {
    font-weight: bold;
    color: #C36B1A;
}

/* EFEITO NA NAVBAR */

#falehover:hover {
    font-weight: bold;
    color: #C36B1A;
    font-size: 17px;
}

#sobrehover:hover {
    font-weight: bold;
    font-size: 17px;
}

#ajudahover:hover {
    font-weight: bold;
    font-size: 17px;
}

#homehover:hover {
    font-weight: bold;
    font-size: 17px;
}

/* FINAL EFEITO */

#textonavbar {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}

/* CONTEUDO */
/* CARROSSEL */
/* SLIDER MAJOR */
.slider-major {
    width: 100%;
    height: 75vh;
    overflow: hidden;
}

.slides-major {
    width: 400%;
    height: 100%;
    display: flex;
}

.slides-major input {
    display: none;
}

.slide-major {
    width: 25%;
}

.slide-major{
    width: 25%;
}

.slide-major img {
    width: 100%;
    height: 100%;
}

.slide-major img {
    width: 100%;
    height: 100%;
}

.manual-navigation-major {
    margin-top: -40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.manual-btn-major {
    border: 2px solid gray;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.35s;
}

.manual-btn-major:not(:last-child) {
    margin-right: 40px;
}

.manual-btn-major:hover {
    background-color: white;
}



#major1:checked~.first-major {
    margin-left: 0;
    transition: 0.75s;
}

#major2:checked~.first-major {
    margin-left: -25%;
    transition: 0.75s;
}

#major3:checked~.first-major {
    margin-left: -50%;
    transition: 0.75s;
}

#major4:checked~.first-major {
    margin-left: -75%;
    transition: 0.75s;
}

/* FIM SLIDER MAJOR */



/* SLIDER NORMAL */

.slider {
    width: 100%;
    height: 40vh;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 100%;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
}

.slide {
    width: 25%;
}

.slide img {
    width: 100%;
    height: 40vh;
}

.manual-navigation {
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.manual-btn {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.35s;
}

.manual-btn {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.35s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: white;
}



#radio1:checked~.first {
    margin-left: 0;
    transition: 0.75s;
}

#radio2:checked~.first {
    margin-left: -25%;
    transition: 0.75s;
}

#radio3:checked~.first {
    margin-left: -50%;
    transition: 0.75s;
}

#radio4:checked~.first {
    margin-left: -75%;
    transition: 0.75s;
}

/* FIM SLIDER NORMAL */


/* SLIDER AGENTE */

.slider-agentes {
    width: 100%;
    height: 40vh;
    overflow: hidden;
}

.slides-agentes {
    width: 400%;
    height: 100%;
    display: flex;
}

.slides-agentes input {
    display: none;
}

.slide-agentes {
    width: 25%;
}

.slide-agentes img {
    width: 100%;
    height: 40vh;
}

.manual-navigation-agentes {
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.manual-btn-agentes {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.35s;
}

.manual-btn-agentes {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.35s;
}

.manual-btn-agentes:not(:last-child) {
    margin-right: 40px;
}

.manual-btn-agentes:hover {
    background-color: white;
}



#radio1-agentes:checked~.first-agentes {
    margin-left: 0;
    transition: 0.75s;
}

#radio2-agentes:checked~.first-agentes {
    margin-left: -25%;
    transition: 0.75s;
}

#radio3-agentes:checked~.first-agentes {
    margin-left: -50%;
    transition: 0.75s;
}

#radio4-agentes:checked~.first-agentes {
    margin-left: -75%;
    transition: 0.75s;
}

/* FIM SLIDER AGENTE */


/* CONTEUDO */
.MapasCSGO {
    width: 100%;
    height: 60vh;
}

.MajorCSGO {
    width: 100%;
    height: 60vh;
    background-image: url(../assets/assetsInicial/drogas.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center right;
}

.ArmasCSGO {
    width: 100%;
    height: 100vh;
}

#NovidadeMapa {
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
}

#NovidadeArmas {
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
}

#NovidadeMajor {
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
}

.TextoInfo {
    display: flex;
    justify-content: center;
    width: 60%;
    height: 30vh;
    margin-left: 5%;
    margin-top: 2%;
}

.DivUmaLadoDaOutra {
    display: flex;
}

#ConteudoTexto {
    margin: 2%;
    font-size: 20px;
    text-align: justify;
}

/* FOOTER */

.footer {
    display: flex;
    width: 100%;
    height: 10vh;
    background-color: #242424;

    align-items: center;
    justify-content: center;
}

.containerFooter {
    display: flex;
}

#DireitosReservados {
    display: flex;
    color: #B9B9B9;

    align-items: center;
    justify-content: center;
}

.divSeparar {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 100%;
}