.header {
    display: flex;
    width: 100%;
    height: 10vh;
    align-items: center;
    justify-content: center;
    background-color: #242424;
}

.header #iconmenuperfil {
    display: flex;
    cursor: pointer;
}

/* .Logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 10%; 
    height: 70%;
    margin-right: 65%;
} */

.navbar a {
    text-decoration: none;
    color: #B9B9B9;
}

.navbar li {
    display: inline-flex;
    list-style: none;
    margin-left: 1.5%;
}

.navbar {
    display: flex;
    height: 100%;
    width: 80%;
    color: #B9B9B9;
    align-items: center;
    text-align: center;

}



/* EFEITO NA NAVBAR */
#homehover:hover a {
    font-weight: bold;
    color: #C36B1A;
    font-size: 17px;
}

#falehover:hover a {
    font-weight: bold;
    color: #C36B1A;
    font-size: 17px;
}

#sobrehover:hover a {
    font-weight: bold;
    font-size: 17px;
    color: #C36B1A;
}

#ajudahover:hover a {
    font-weight: bold;
    font-size: 17px;
    color: #C36B1A;
}

#homehover:hover a {
    font-weight: bold;
    font-size: 17px;
    color: #C36B1A;
}

/* FINAL EFEITO */

#textonavbar {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}

/* CONTEÚDO */
body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    overflow-x: hidden;

}

.container {
    display: flex;
    width: 100%;
    height: 150vh;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #242424d0;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
}

.containerConteudo {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    background-color: #B9B9B9;
    width: 78%;
    height: 30%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    padding: 1%;
    align-items: center;

}

.containerConteudo::-webkit-scrollbar{
    width: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #B9B9B9;
    cursor: pointer;
    height: 7px;
}

.containerConteudo::-webkit-scrollbar-thumb{
    background-color: #838383;
    border-radius: 10px;
    
}

.containerConteudo h2 {
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.containerConteudo div{
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 10px;
    
}

#DivDust {
    min-width: 20%;
    height: 100%;
    border: 1px solid white;
    cursor: pointer;
}

#DivMirage {
    min-width: 20%;
    height: 100%;
    border: 1px solid white;
    cursor: pointer;
}

#DivInferno {
    min-width: 20%;
    height: 100%;
    border: 1px solid white;
    cursor: pointer;
}

#DivNuke {
    min-width: 20%;
    height: 100%;
    border: 1px solid white;
    cursor: pointer;
}

#DivOverpass {
    min-width: 20%;
    height: 100%;
    border: 1px solid white;
    cursor: pointer;

}

#DivTrain {
    min-width: 20%;
    height: 100%;
    border: 1px solid white;
    cursor: pointer;
}

#DivCache {
    min-width: 20%;
    height: 100%;
    border: 1px solid white;
    cursor: pointer;
}

#DivCobble {

    min-width: 20%;
    height: 100%;
    border: 1px solid white;
    cursor: pointer;
}

#DivAncient {
    min-width: 20%;
    height: 100%;
    border: 1px solid white;
    cursor: pointer;
}

#DivOffice {
    min-width: 20%;
    height: 100%;
    border: 1px solid white;
    cursor: pointer;
}

#DivAnubis {
    min-width: 20%;
    height: 100%;
    border: 1px solid white;
    cursor: pointer;
}

#DivVertigo {
    min-width: 20%;
    height: 100%;
    border: 1px solid white;
    cursor: pointer;

}

.scroll {
    display: flex;
    min-height: 15%;
    width: 100%;
}

.MostrarInfoMapas{
    display: flex;
    width: 80%;
    height: 100%;
    background-color: red;
    border-radius: 10px;
}

.parteEsquerda{
    width: 50%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: yellow;
}

.parteDireita{
    width: 50%;
    height: 100%;
}



/* FOOTER */
.footer {
    display: flex;
    width: 100%;
    height: 10vh;
    background-color: #242424;

    align-items: center;
    justify-content: center;
}

.containerFooter {
    display: flex;
    flex-direction: column;
}

#DireitosReservados {
    display: flex;
    color: #B9B9B9;

    align-items: center;
    justify-content: center;
}