body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    overflow-x: hidden;

}



.header {
    display: flex;
    width: 100%;
    height: 10vh;
    align-items: center;
    justify-content: center;
    background-color: #242424;
}

.header #iconmenuperfil {
    display: flex;
    cursor: pointer;
}

/* .Logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 10%; 
    height: 70%;
    margin-right: 65%;
} */

.navbar a {
    text-decoration: none;
    color: #B9B9B9;
}

.navbar li {
    display: inline-flex;
    list-style: none;
    margin-left: 1.5%;
}

.navbar {
    display: flex;
    height: 100%;
    width: 80%;
    color: #B9B9B9;
    align-items: center;
    text-align: center;

}

#sobrehover a {
    font-weight: bold;
    font-size: 17px;
    color: #C36B1A;
}

/* EFEITO NA NAVBAR */
#homehover:hover a {
    font-weight: bold;
    color: #C36B1A;
    font-size: 17px;
}

#falehover:hover a {
    font-weight: bold;
    color: #C36B1A;
    font-size: 17px;
}

#sobrehover:hover a {
    font-weight: bold;
    font-size: 17px;
    color: #C36B1A;
}

#ajudahover:hover a {
    font-weight: bold;
    font-size: 17px;
    color: #C36B1A;
}

#homehover:hover a {
    font-weight: bold;
    font-size: 17px;
    color: #C36B1A;
}

/* FINAL EFEITO */

#textonavbar {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}

/* CONTEÚDO */

.container {
    display: flex;
    width: 100%;
    height: 120vh;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #242424d0;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
}

.containerConteudo {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 78%;
    height: 300px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    padding: 1%;
    align-items: center;
    background-color: #B9B9B9;

}

.containerConteudo::-webkit-scrollbar{
    width: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    height: 7px;
}

.containerConteudo::-webkit-scrollbar-thumb{
    background-color: #838383;
    border-radius: 10px;
    
}

.containerConteudo h2 {
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.containerConteudo div{
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 10px;
    
}

#DivDust {
    min-width: 20%;
    height: 100%;
    cursor: pointer;
    background-image: url(../assets/assetsInicial/Scrollbar-horizontal/dust2.png);
    background-size: cover;
}

#DivMirage {
    min-width: 20%;
    height: 100%;
    cursor: pointer;
    background-image: url(../assets/assetsInicial/Scrollbar-horizontal/Mirage.png);
    background-size: cover;
}

#DivInferno {
    min-width: 20%;
    height: 100%;
    cursor: pointer;
    background-image: url(../assets/assetsInicial/Scrollbar-horizontal/Inferno\ 2.png);
    background-size: cover;
}

#DivNuke {
    min-width: 20%;
    height: 100%;
    cursor: pointer;
    background-image: url(../assets/assetsInicial/Scrollbar-horizontal/Nuke.png);
    background-size: cover;
}

#DivOverpass {
    min-width: 20%;
    height: 100%;
    cursor: pointer;
    background-image: url(../assets/assetsInicial/Scrollbar-horizontal/Overpass.png);
    background-size: cover;

}

#DivTrain {
    min-width: 20%;
    height: 100%;
    cursor: pointer;
    background-image: url(../assets/assetsInicial/Scrollbar-horizontal/train.png);
    background-size: cover;
}

#DivCache {
    min-width: 20%;
    height: 100%;
    cursor: pointer;
    background-image: url(../assets/assetsInicial/Scrollbar-horizontal/Cache.png);
    background-size: cover;
}

#DivCobble {

    min-width: 20%;
    height: 100%;
    cursor: pointer;
    background-image: url(../assets/assetsInicial/Scrollbar-horizontal/Cobblestone.png);
    background-size: cover;
}

#DivVertigo {
    min-width: 20%;
    height: 100%;
    cursor: pointer;
    background-image: url(../assets/assetsInicial/Scrollbar-horizontal/vertigo.png);
    background-size: cover;
}

.scroll {
    display: flex;
    min-height: 15%;
    width: 100%;
}

.MostrarInfoMapas{
    display: flex;
    width: 80%;
    height: 100%;
    background-color: #B9B9B9;
    border-radius: 10px;
}


.parteEsquerda{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.containerInfo{
    display: flex;
    flex-direction: column;
    width: 96%;
    height: 98%;
}

#NomeMapa{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
}

#InformacoesMapas{
    display: flex;
    text-align: justify;
    width: 100%;
    height: 90%;

}

#radarDust{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background-image: url(../assets/Minimapas/dust2_radar.jpg);
    background-size: cover;
}

.parteDireita{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


.MostrarInfoMapas{
    display: flex;
    width: 80%;
    height: 100%;
    background-color: #B9B9B9;
    border-radius: 10px;
}


.parteEsquerda{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.containerInfo{
    display: flex;
    flex-direction: column;
    width: 96%;
    height: 98%;
}

#NomeMapa{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
}

#InformacoesMapas{
    display: flex;
    text-align: justify;
    width: 100%;
    height: 90%;

}


#LinkVotacao{
    width: 100%;
    height: 10%;
    font-weight: bold;
}



#LinkVotacao button{
    width: 20%;
    height: 40%;
    font-weight: bold;
    border: 0;
    background-color: #C36B1A;
    border-radius: 10px ;
    cursor: pointer;
}

#LinkVotacao button:hover{
    width: 20%;
    height: 40%;
    font-weight: bold;
    border: 0;
    background-color: #b98552;
    border-radius: 10px ;
    cursor: pointer;
}




.parteDireita{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


/* DIV DUST */


.parteEsquerdaDust{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.containerInfoDust{
    display: flex;
    flex-direction: column;
    width: 96%;
    height: 98%;
}

#NomeMapaDust{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
}

#InformacoesMapasDust{
    display: flex;
    text-align: justify;
    width: 100%;
    height: 90%;

}

#radarDust{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background-image: url(../assets/Minimapas/dust2_radar.webp);
    background-size: cover;
}

#radarMirage{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background-image: url(../assets/Minimapas/mirage_radar.webp);
    background-size: cover;
}

#radarInferno{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background-image: url(../assets/Minimapas/De_inferno_radar.webp);
    background-size: cover;
}

#radarNuke{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background-image: url(../assets/Minimapas/De_nuke_radar.webp);
    background-size: cover;
}

#radarOverpass{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background-image: url(../assets/Minimapas/De_overpass_radar.webp);
    background-size: cover;
}

#radarTrain{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background-image: url(../assets/Minimapas/download.webp);
    background-size: cover;
}

#radarCache{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background-image: url(../assets/Minimapas/De_cache_radar.webp);
    background-size: cover;
}

#radarCobble{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background-image: url(../assets/Minimapas/De_cbble_radar.webp);
    background-size: cover;
}

#radarVertigo{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background-image: url(../assets/Minimapas/De_vertigo_radar.webp);
    background-size: cover;
}

/* FOOTER */
.footer {
    display: flex;
    width: 100%;
    height: 10vh;
    background-color: #242424;

    align-items: center;
    justify-content: center;
}

.containerFooter {
    display: flex;
    flex-direction: column;
}

#DireitosReservados {
    display: flex;
    color: #B9B9B9;

    align-items: center;
    justify-content: center;
}