body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 175vh;
    font-family: Arial;
}

.imagemFundo {
    display: flex;
    background-image: url(../../ImagensGerais/MapaVertigo.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}

#iconvoltar {
    color: white;
    font-size: 50px;
    transform: rotate(90deg);
    margin-top: 1%;
    margin-left: 2%;
    cursor: pointer;
}
#iconvoltar:hover {
    color: #FF9300;
}

.blocoMarrom {
    display: flex;
    padding-bottom: 1.5%;
    width: 80%;
    background-color: #303030ef;
    backdrop-filter: blur(3px);
    border: 2px solid #AE8406;
    border-radius: 10px;
    flex-direction: column;
}

#parteCima {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    margin-left: 10%;
}

.gerenciarTexto {
    display: flex;
    margin-left: 16.5%;
    color: white;
    font-size: 35px;
    font-weight: 800;
}

#logo {
    display: flex;
    width: 6.6%;
    height: 20%;
}

.infopessoaisBloco {
    display: flex;
    background-color: rgba(255, 255, 255, 0.61);
    height: 30%;
    width: 80%;
    margin-left: 10%;
    margin-top: 4%;
    border: 1px solid #BD8500;
    border-radius: 5px;
}

.IPparteEsquerda {
    display: flex;
    flex-direction: column;
    margin-left: 2.5%;
    margin-top: 3%;
    width: 30.4vw;
    height: 16vh;
}

#IPtexto {
    color: black;
    font-weight: 650;
    font-size: 2.5vmax;
    white-space: nowrap;
    width: 60%;
    align-items: center;
}

#IPtextoAviso {

    display: flex;
    color: black;
    margin-top: 1%;
    height: auto;
    font-style: normal;
    width: 80%;
    text-align: left;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    align-items: center;

}

#IPtextoFuncoes {
    color: black;
    margin-top: 1%;
    height: auto;
    font-style: normal;
    width: 80%;
    text-align: left;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
}

#ListaFuncoes {
        color: black;
        margin-top: 1%;
        height: auto;
        font-style: normal;
        width: 80%;
        text-align: left;
        font-weight: 300;
        font-size: 15px;
        line-height: 20px;
}

.IPparteDireita {
    display: flex;
    border-left: 1px solid #AE8406;
    width: 32vmax;
    height: 47.3vh;
    flex-direction: column;
}

.enderecoEmail {
    display: flex;
    width: 93%;
    flex-direction: column;
    margin-left: 6.5%;
    margin-top: 9%;
}

#enderecoEmailTexto {
    display: flex;
    color: black;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    margin-left: 1%;
}

#i_email {
    display: flex;
    color: black;
    width: 90%;
    font-size: 0.7vmax;
    padding-left: 2%;
    height: 3.5vh;
    background-color: rgba(185, 150, 102, 0.87);
    border: 1px solid #BD8500;
    border-radius: 6px;
}

#i_email:focus {
    background-color: white;
    color: black;
    outline: 0;
}

.nomeEDtNasc {
    display: flex;
    width: 94%;
    margin-left: 6.5%;
    margin-top: 5%;
}

#nomeBloco {
    display: flex;
    width: 43%;
    flex-direction: column;
}

#nomeTexto {
    display: flex;
    color: black;
    font-weight: 300;
    font-style: normal;
    font-size: 0.75vmax;
    width: 43%;
    flex-direction: column;
    margin-left: 2%;
}


#i_nome {
    display: flex;
    color: black;
    width: 95%;
    font-size: 0.7vmax;
    padding-left: 2%;
    height: 3.5vh;
    background-color: rgba(185, 150, 102, 0.87);
    border: 1px solid #BD8500;
    border-radius: 6px;
}

#i_nome:focus {
    background-color: white;
    color: black;
    outline: 0;
}

#dtNascBloco {
    display: flex;
    width: 50%;
    margin-left: 2%;
    flex-direction: column;
}

#dtNascTexto {
    display: flex;
    color: black;
    font-weight: 300;
    font-style: normal;
    margin-left: 2%;
    font-size: 0.75vmax;
}

#i_dtnasc {
    display: flex;
    color: black;
    width: 90%;
    color-scheme: dark;
    font-size: 0.7vmax;
    padding-left: 2%;
    height: 3.5vh;
    background-color: rgba(185, 150, 102, 0.87);
    border: 1px solid #BD8500;
    border-radius: 6px;
}

#btn_salvar {
    display: flex;
    margin-left: 62%;
    margin-top: 5%;
    height: 4.45vh;
    width: 18.5vh;
    background: #AE8406;
    border: none;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    color: black;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
}

#btn_salvar:hover {
    display: flex;
    margin-left: 62%;
    margin-top: 5%;
    height: 4.45vh;
    width: 18.5vh;
    background: #c78a51;
    border: none;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    color: black;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
}

/* INFO LOGIN */
.infoLoginBloco {
    display: flex;
    background-color: rgba(255, 255, 255, 0.61);
    height: 44%;
    width: 80%;
    margin-left: 10%;
    margin-top: 4%;
    border: 1px solid #BD8500;
    border-radius: 5px;
}

.ILparteDireita {
    display: flex;
    border-left: 1px solid #AE8406;
    width: 32vmax;
    height: 69.4vh;
    flex-direction: column;
}

.alterarEmail{
    display: flex;
    width: 93%;
    height: 25vh;
    margin-top: 8%;
    margin-left: 7%;
    flex-direction: column;


}

#alterarEmailTexto{
    display: flex;
    color: black;
    width: 10vw;
    font-size: 1vmax;
    font-weight: bold;
    margin-bottom: 2%;
}

#alterarEmailAtual{
    display: flex;
    color: black;
    font-style: normal;
    font-weight: 300;
    font-size: 0.75vmax;
    width: 15vw;
    margin-left: 1%;
}

#i_emailatual{
    display: flex;
    color: black;
    width: 90%;
    font-size: 0.7vmax;
    padding-left: 2%;
    height: 3.5vh;
    background-color: rgba(185, 150, 102, 0.87);
    border: 1px solid #BD8500;
    border-radius: 6px;
    margin-bottom: 2%;
}

#i_emailatual:focus {
    background-color: white;
    color: black;
    outline: 0;
}


#alterarEmailNovo{
    display: flex;
    color: black;
    font-style: normal;
    font-weight: 300;
    font-size: 0.75vmax;
    width: 15vw;
    margin-left: 1%;
}

#i_emailnovo{
    display: flex;
    color: black;
    width: 90%;
    font-size: 0.7vmax;
    padding-left: 2%;
    height: 3.5vh;
    background-color: rgba(185, 150, 102, 0.87);
    border: 1px solid #BD8500;
    border-radius: 6px;
}

#i_emailnovo:focus {
    background-color: white;
    color: black;
    outline: 0;
}

#btn_alterar {
    display: flex;
    margin-left: 62%;
    margin-top: 5%;
    height: 4.45vh;
    width: 18.5vh;
    background: #AE8406;
    border: none;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    color: black;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
}


#btn_alterar:hover {
    display: flex;
    margin-left: 62%;
    margin-top: 5%;
    height: 4.45vh;
    width: 18.5vh;
    background: #c78a51;
    border: none;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    color: black;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
}

.alterarSenha{
    display: flex;
    width: 93%;
    height: 40vh;
    margin-left: 7%;
    flex-direction: column;

}

#alterarSenhaTexto{
    display: flex;
    color: black;
    width: 10vw;
    font-size: 1vmax;
    font-weight: bold;
    margin-bottom: 2%;
}

#senhaAtual{
    display: flex;
    color: black;
    font-style: normal;
    font-weight: 300;
    font-size: 0.75vmax;
    width: 15vw;
    margin-left: 1%;
}

#i_senhaatual{
    display: flex;
    color: black;
    width: 90%;
    font-size: 0.7vmax;
    padding-left: 2%;
    height: 3.5vh;
    background-color: rgba(185, 150, 102, 0.87);
    border: 1px solid #BD8500;
    border-radius: 6px;
    margin-bottom: 2%;
}

#i_senhaatual:focus {
    background-color: white;
    color: black;
    outline: 0;
}

#senhaNova{
    display: flex;
    color: black;
    font-style: normal;
    font-weight: 300;
    font-size: 0.75vmax;
    width: 15vw;
    margin-left: 1%;
}

#i_senhanova{
    display: flex;
    color: black;
    width: 90%;
    font-size: 0.7vmax;
    padding-left: 2%;
    height: 3.5vh;
    background-color: rgba(185, 150, 102, 0.87);
    border: 1px solid #BD8500;
    border-radius: 6px;
    margin-bottom: 2%;
}

#i_senhanova:focus {
    background-color: white;
    color: black;
    outline: 0;
}


#senhaNovaConfirmar{
    display: flex;
    color: black;
    font-style: normal;
    font-weight: 300;
    font-size: 0.75vmax;
    width: 15vw;
    margin-left: 1%;
}

#i_senhanovaconfirmar{
    display: flex;
    color: black;
    width: 90%;
    font-size: 0.7vmax;
    padding-left: 2%;
    height: 3.5vh;
    background-color: rgba(185, 150, 102, 0.87);
    border: 1px solid #BD8500;
    border-radius: 6px;
    margin-bottom: 2%;
}

#i_senhanovaconfirmar:focus {
    background-color: white;
    color: black;
    outline: 0;
}

#btn_alterarSenha{
    display: flex;
    margin-left: 62%;
    margin-top: 5%;
    height: 4.45vh;
    width: 18.5vh;
    background: #AE8406;
    border: none;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    color: black;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
}

#btn_alterarSenha:hover{
    display: flex;
    margin-left: 62%;
    margin-top: 5%;
    height: 4.45vh;
    width: 18.5vh;
    background: #c78a51;
    border: none;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    color: black;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
}
