body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: Arial;
}

.header {
    display: flex;
    width: 100%;
    height: 10vh;
    align-items: center;
    justify-content: center;
    background-color: #242424;
}

.navbar a {
    text-decoration: none;
    color: #B9B9B9;
}

.navbar li{
    display: inline-flex;
    list-style: none;
    margin-left: 1.5%;
}

.navbar{
    display: flex;
    height: 100%;
    width: 80%;
    color: #B9B9B9;
    align-items: center;
    text-align: center;

}

#falehover a{
    font-weight: bold;
    color: #C36B1A;
}

#textonavbar{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}

/* CONTEÚDO */
.conteudo {
    display: flex;
    background-image: url(../../ImagensGerais/MapaInferno.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    display: flex;
    width: 90%;
    flex-direction: center;
}

#AgenteTR {
    margin-bottom: 100px;
    height: 100%;
}

.DivAjuda {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.61);
    backdrop-filter: blur(3px);
    width: 50%;
    border-radius: 10px;
    margin-top: 5%;
    margin-bottom: 5%;
    align-items: center;
    justify-content: space-around;
}

.formulario{
    background-color: #242424c7;
    display: flex;
    flex-direction: column;
    color: #C36B1A;
    border-radius: 10px;
    margin: auto;
    padding: 30px;
    width: 70%;
    height: 50vh;
}

.formulario input{
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    padding: 3px 1px;
    width: 100%;
}

.formulario #input_mensagem {
    width: 100%;
    height: 25vh;
}

.formulario h4{
    margin: 0;
}

.formulario button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 10%;
    width: 96%;
    margin: 3%;
    font-size: 17px;
    font-weight: bold;
    font-family: Arial;
    border: none;
    background-color: #C36B1A;
}

.formulario button:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 10%;
    width: 96%;
    margin: 3%;
    font-size: 17px;
    font-weight: bold;
    font-family: Arial;
    border: none;
    background-color: #c78a51;
    cursor: pointer;
}
/* FOOTER */

.footer {
    display: flex;
    width: 100%;
    height: 10vh;
    background-color: #242424;

    align-items: center;
    justify-content: center;
}

.containerFooter {
    display: flex;
    align-items: center;
    justify-content: center;
}

#DireitosReservados {
    display: flex;
    color: #B9B9B9;
}