body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: Arial;
}

.header {
    display: flex;
    width: 100%;
    height: 10vh;
    align-items: center;
    justify-content: center;
    background-color: #242424;
}

.header #iconmenuperfil {
    display: flex;
    cursor: pointer;
}

/* .Logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 10%; 
    height: 70%;
    margin-right: 65%;
} */

.navbar a {
    text-decoration: none;
    color: #B9B9B9;
}

.navbar li{
    display: inline-flex;
    list-style: none;
    margin-left: 1.5%;
}

.navbar{
    display: flex;
    height: 100%;
    width: 80%;
    color: #B9B9B9;
    align-items: center;
    text-align: center;

}

#falehover a{
    font-weight: bold;
    color: #C36B1A;
}
/* EFEITO NA NAVBAR */

#falehover:hover{
    font-weight: bold;
    color: #C36B1A;
    font-size: 17px;
}
#sobrehover:hover{
    font-weight: bold;
    font-size: 17px;
}
#ajudahover:hover{
    font-weight: bold;
    font-size: 17px;
}
#homehover:hover{
    font-weight: bold;
    font-size: 17px;
}
/* FINAL EFEITO */

#textonavbar{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}

/* CONTEÚDO */
.conteudo {
    display: flex;
    background-image: url(../../ImagensGerais/MapaInferno.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    display: flex;
    width: 90%;
    flex-direction: center;
}

#AgenteTR {
    margin-bottom: 100px;
    height: 100%;
}

.DivAjuda {
    display: flex;
    flex-direction: column;
    background-color: #303030ef;
    backdrop-filter: blur(3px);
    border: 2px solid #AE8406;
    width: 70%;
    border-radius: 10px;
    margin-top: 5%;
    margin-bottom: 5%;
    align-items: center;
    justify-content: space-around;
}

.formulario{
    background-color: rgba(255, 255, 255, 0.61);
    display: flex;
    flex-direction: column;
    color: black;
    margin: auto;
    padding: 30px;
    width: 70%;
    height: 50vh;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.DivContato{
    background-color: rgba(255, 255, 255, 0.61);
    display: flex;
    flex-direction: column;
    color: black;
    margin: auto;
    padding: 30px;
    width: 70%;
    height: 50vh;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.formulario input{
    background-color: rgba(185, 150, 102, 0.87);
    border: 1px solid #BD8500;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 3px 1px;
    width: 100%;
}

.formulario input:focus{
    background-color: white;
    border: 1px solid #BD8500;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 3px 1px;
    width: 100%;
    outline: 0;
}

.formulario #input_mensagem {
    width: 100%;
    height: 25vh;
}

.formulario h4{
    margin: 0;
}

.formulario textarea {
    background-color: rgba(185, 150, 102, 0.87);
    border: 1px solid #BD8500;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    resize: none;
    box-sizing: border-box;
    outline: 0;
}

.formulario textarea:focus {
    background-color: white;
    border: 1px solid #BD8500;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    resize: none;
    box-sizing: border-box;
    outline: 0; 
}



.formulario button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 10%;
    width: 96%;
    margin: 3%;
    font-size: 17px;
    font-weight: bold;
    font-family: Arial;
    border: none;
    background-color: #C36B1A;
}

.formulario button:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 10%;
    width: 96%;
    margin: 3%;
    font-size: 17px;
    font-weight: bold;
    font-family: Arial;
    border: none;
    background-color: #c78a51;
    cursor: pointer;
}
#iconMail {
    display: flex;
    width: 5%;
    height: 25%;
    top: 29%;
    left: 3%;
}

#iconTel {
    display: flex;
    width: 5%;
    height: 25%;
    top: 49%;
    left: 3%;
}

#contato {
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: 800;
}

#counternetTelefone {
    margin-left: 1.5%;
}

#counternetEmail {
    margin-left: 1.5%;
}

.IconesLado {
    display: flex;
    flex-direction: row;
    align-items: center;
}


/* FOOTER */

.footer {
    display: flex;
    width: 100%;
    height: 10vh;
    background-color: #242424;

    align-items: center;
    justify-content: center;
}

.containerFooter {
    display: flex;
    align-items: center;
    justify-content: center;
}

#DireitosReservados {
    display: flex;
    color: #B9B9B9;
}